<div class="content" id="mainPage">
<div style="display:flex;align-items:center">
<div class="search-bar">
<input placeholder="Search by Subject From">
<select><option>Today</option></select>
</div>
<div class="buttons">
<button class="btn" onclick="openAddHoliday()">+ Add Holidays</button>
<button class="btn" onclick="openAddMemo()">+ Add Memo</button>
</div>
</div>
<!-- HOLIDAYS -->
<div class="holiday-panel">
<!-- dynamic holidays here -->
</div>
<!-- TABLE -->
<div class="table-container">
<table>
<thead>
<tr>
<th>Series</th><th>Date</th><th>From</th><th>Forwarded by</th><th>Subject</th><th>Remarks</th><th>Notes</th><th>Released To</th><th>Released Date</th><th>Action</th>
</tr>
</thead>
<tbody><!-- outputs --></tbody>
</table>
</div>
<!-- History -->
<div class="content" id="historyPage" style="display:none;">

<div style="background:white;border-radius:8px;padding:20px;height:500px;overflow:auto;">

<select id="historyFilter" style="margin-bottom:15px;padding:6px;">
<option value="all">Today</option>
</select>

<div id="historyList"></div>

</div>

</div>
</div>