{% extends "base.html" %}

{% block title %}Update Memo{% endblock %}

{% block content %}
<h2>Update Memo</h2>

<h2>Update Memo (based on {{ memo.memo_number }})</h2>

<form method="POST">
    <label>New Memo #:</label><br>
    <input type="text" name="memo_number" value="{{ memo.memo_number }}"><br><br>

    <label>Subject:</label><br>
    <input type="text" name="subject" value="{{ memo.subject }}"><br><br>

    <label>Type:</label><br>
    <input type="text" name="source_type" value="{{ memo.source_type }}"><br><br>

    <label>From Office:</label><br>
    <input type="text" name="from_office" value="{{ memo.from_office }}"><br><br>

    <label>Forwarded By:</label><br>
    <input type="text" name="forwarded_by" value="{{ memo.forwarded_by }}"><br><br>

    <label>Remarks:</label><br>
    <textarea name="remarks">{{ memo.remarks }}</textarea><br><br>

    <label>Notes:</label><br>
    <textarea name="notes">{{ memo.notes }}</textarea><br><br>

    <button type="submit">Create New Memo</button>
</form>
{% endblock %}