.timeline {
  max-width: 700px;
  margin: auto;
}

.timeline-item {
  padding: 10px 0;
  border-left: 3px solid #ccc;
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
}

.timeline-item::before {
  content: "";
  position: absolute;
  left: -7px;
  top: 10px;
  width: 10px;
  height: 10px;
  background: #333;
  border-radius: 50%;
}

.timeline-time {
  font-size: 12px;
  color: #888;
  margin-bottom: 4px;
}

.timeline-content {
  font-size: 14px;
}

.pagination{
    margin-top:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.pagination a{
    padding:8px 14px;
    background:#A12222;
    color:white;
    text-decoration:none;
    border-radius:6px;
}

.pagination a:hover{
    opacity:.9;
}