{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/logs.css') }}">
{% endblock %}

{% extends "base.html" %}
{% block content %}
<h2>Activity Logs</h2>

<div class="timeline">
  {% for log in logs %}
    <div class="timeline-item">
      
      <div class="timeline-time">
        {{ log.encoded_at.strftime("%B %d, %Y") }} • 
        {{ log.encoded_at.strftime("%I:%M %p") }}
      </div>

      <div class="timeline-content">
        <strong>{{ log.remarks }}</strong><br>
        <small>{{ log.notes }}</small>
      </div>

    </div>
  {% endfor %}
</div>
{% endblock %}