{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}


{% extends "base.html" %}

{% block title %}Secretary Dashboard{% endblock %}
    
{% block content %}
<br><br>
  <div class="dashboard-container">

        <div class="top-controls">
            <div class="search-group">
                <input type="text" id="searchInput" placeholder="Search subject, memo #, from..." class="search-input">
                <div class="select-group">

                <select id="monthFilter" class="date-dropdown">
                    <option value="">Month</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>

                <select id="yearFilter" class="date-dropdown">
                    <option value="">Year</option>
                    {% for y in range(2024, 2050) %}
                        <option value="{{ y }}">{{ y }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            {% if current_user.is_authenticated %}

            <button class="btn" onclick="openAddMemo()">+ Add Memo</button>
            {% endif %}
        </div>

        <div class="announcement-row">
        {% for holiday in holidays %}
        <div class="card">
            <div class="card-icon">
            {% if holiday.type == "Regular" %}🎉
            {% elif holiday.type == "Special" %}✨
            {% else %}📅
            {% endif %}
            </div>            
            <div class="card-content">
            <div class="card-header">
                <span class="card-date">
                {{ holiday.display_date.strftime('%B %d, %Y') }}- {{ holiday.name }}
                </span>
                <span class="badge">{{ holiday.type or "Holiday" }}</span>
            </div>
            <p class="card-sub">
                {{ holiday.description or "No Office Transaction on this date" }}
            </p>
            </div>
        </div>
        {% else %}
        <!-- fallback if no holidays -->
        <p>No holidays available.</p>
        {% endfor %}
        </div>
<div class="table-top-bar">

    <div class="table-controls toggle-wrapper">
        <div id="typeToggle" class="toggle-pill">
            <div class="toggle-option active" data-type="CM">Communication</div>
            <div class="toggle-option" data-type="OP">OP</div>
        </div>
    </div>

    <div class="filter-wrapper">

        <button id="filterBtn" class="filter-btn">⚙ Filters</button>

        <div id="filterPanel" class="filter-panel">

            <!-- SORT -->
            <div class="filter-group">
                <div class="filter-title">Sort</div>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="serial_desc" checked>
                    Serial (Newest)
                </label>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="serial_asc">
                    Serial (Oldest)
                </label>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="date_desc">
                    Newest Date
                </label>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="date_asc">
                    Oldest Date
                </label>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="alpha_subject">
                    Subject A → Z
                </label>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="alpha_forwarded">
                    Forwarded By A → Z
                </label>

                <label>
                    <input type="radio" name="sort" class="sort-option" value="alpha_from">
                    From Office A → Z
                </label>
            </div>

            <!-- FROM OFFICE -->
            <div class="filter-group">
                <div class="filter-title">From Office</div>

                <div class="filter-scroll">
                    {% for office in from_offices %}
                    <label>
                        <input type="checkbox"
                            class="office-filter"
                            value="{{ office[0] }}">
                        {{ office[0] }}
                    </label>
                    {% endfor %}
                </div>
            </div>

            <!-- FORWARDED -->
            <div class="filter-group">
                <div class="filter-title">Forwarded By</div>

                <div class="filter-scroll">
                    {% for person in forwarded_people %}
                    <label>
                        <input type="checkbox"
                            class="forwarded-filter"
                            value="{{ person[0] }}">
                        {{ person[0] }}
                    </label>
                    {% endfor %}
                </div>
            </div>

            <!-- RELEASED -->
            <div class="filter-group">
                <div class="filter-title">Released To</div>

                <div class="filter-scroll">
                    {% for person in released_people %}
                    <label>
                        <input type="checkbox"
                            class="released-filter"
                            value="{{ person[0] }}">
                        {{ person[0] }}
                    </label>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>

</div>
<div  id="tableContainer">
    {% if memos %}
    <div class="table-container">
        <table class="records-table" border="1" cellpadding="8" cellspacing="0">
            <thead>
                <tr>
                    <th rowspan="2" style="background-color:#b71c1c; color:#fff;">Serial No.</th>
                    <th colspan="4" style="background-color:#e53935; color:#fff;">Incoming</th>
                    {% if selected_type  != "OP" %}
                    <th rowspan="2" style="background-color:#b71c1c; color:#fff;">Remarks</th>
                    {% else %}
                    <th rowspan="2" style="background-color:#b71c1c; color:#fff;">Memo No.</th>
                    {% endif %}
                    <th rowspan="2" style="background-color:#b71c1c; color:#fff;">Notes</th>
                    {% if selected_type != "OP" %}
                    <th colspan="2" style="background-color:#e53935; color:#fff;">Released</th>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.role == "admin" %}
                    <th rowspan="2" class="vertical-header" style="background-color:#b71c1c; color:#fff;">Actions</th>
                    {% endif %}
                </tr>
                <tr>
                    <th style="background-color:#fdecea; color:#333;">Date</th>
                    <th style="background-color:#fdecea; color:#333;">From</th>
                    <th style="background-color:#fdecea; color:#333;">Forwarded By</th>
                    <th style="background-color:#fdecea; color:#333;">Subject</th>
                    {% if selected_type != "OP" %}
                    <th style="background-color:#fdecea; color:#333;">Date</th>
                    <th style="background-color:#fdecea; color:#333;">To</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for memo in memos %}
                <tr class="memo-row"
                    data-memo_number="{{ memo.memo_number }}"
                    data-type="{{ memo.source_type }}"
                    data-thread="{{ memo.thread_id }}"
                    data-serial="{{ memo.serial_number }}"
                    data-subject="{{ memo.subject }}"
                    data-number="{{ memo.memo_number }}"
                    data-from="{{ memo.from_office }}"
                    data-forwarded="{{ memo.forwarded_by }}"
                    data-date="{{ memo.date }}"
                    data-remarks="{{ memo.remarks }}"
                    data-notes="{{ memo.notes }}"
                    data-released_date="{{ memo.released_date }}"
                    data-released_to="{{ memo.released_to }}">
                    <!-- Serial No. -->
                    <td>{{ memo.serial_number }}</td>

                    <!-- Incoming Section -->
                    <td>{{ memo.date }}</td>
                    <td>{{ memo.from_office }}</td>
                    <td>{{ memo.forwarded_by }}</td>
                    <td>
                        {% if current_user.is_authenticated %}
                        <button class="update-new-btn"
                            data-thread="{{ memo.thread_id }}"
                            data-id="{{ memo.id }}"
                            data-source_type="{{ memo.source_type }}"
                            data-number="{{ memo.memo_number }}"
                            data-from="{{ memo.from_office }}"
                            data-forwarded="{{ memo.forwarded_by }}"
                            data-subject="{{ memo.subject }}"
                            data-remarks="{{ memo.remarks }}"
                            data-notes="{{ memo.notes }}"
                            data-date="{{ memo.date }}"
                            data-released_to="{{ memo.released_to }}"
                            data-released_date="{{ memo.released_date }}"
                            data-status="{{ memo.status }}">
                                {{ memo.subject }}                
                        </button>
                        {% else %}
                        {{ memo.subject }}
                        {% endif %}
                    </td>

                    <!-- Remarks / Notes -->
                    {% if selected_type  != "OP" %}
                    <td>{{ memo.remarks }}</td>
                    {% else %}
                    <td>{{ memo.memo_number }}</td>
                    {% endif %}
                    <td>{{ memo.notes }}</td>
                    {% if selected_type  != "OP" %}
                    <!-- Released Section -->
                    <td>{{ memo.released_date or "" }}</td>                
                    <td>{{ memo.released_to }}</td>
                    {% endif %}
                    <!-- Actions -->
                    {% if current_user.is_authenticated and current_user.role == "admin" %}
                        <td>

                            <div class="action-menu">
                                <button class="menu-btn">⋮</button>

                                <div class="menu-dropdown">
                                    <button class="update-btn"
                                        data-id="{{ memo.id }}"
                                        data-thread="{{ memo.thread_id }}"
                                        data-source_type="{{ memo.source_type }}"
                                        data-number="{{ memo.memo_number }}"
                                        data-from="{{ memo.from_office }}"
                                        data-forwarded="{{ memo.forwarded_by }}"
                                        data-subject="{{ memo.subject }}"
                                        data-remarks="{{ memo.remarks }}"
                                        data-notes="{{ memo.notes }}"
                                        data-date="{{ memo.date }}"
                                        data-released_to="{{ memo.released_to }}"
                                        data-released_date="{{ memo.released_date }}"
                                        data-status="{{ memo.status }}">
                                        ✏️ Edit
                                    </button>

                                    <button class="delete-btn" data-id="{{ memo.id }}">
                                        🗑️ Delete
                                    </button>
                                </div>
                            </div>

                        </td>
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>



<!-- SIDE PANEL -->
<div id="memoDrawer" class="memo-drawer">
    <div class="drawer-content">
        

        <div class="drawer-header-row">
            <span class="text-secondary"># <span id="drawerNumber"></span></span>
            <span class="text-secondary" id="drawerDate"></span>
        </div>

        <span class="badge badge-urgent"id="drawerRemarks"></span>

        <h2 class="drawer-subject" id="drawerSubject"></h2>

        <div class="drawer-meta">
            <p>From: <span id="drawerFrom"></span></p>
            <p>Forwarded by: <span id="drawerForwarded"></span></p>
        </div>

        <div class="drawer-notes">
            Notes: <span id="drawerNotes"></span>
        </div>

        <div class="drawer-release-row">
            <div class="release-col">
                <span class="text-secondary">Released to:</span>
                <span id="drawerReleasedTo"></span>
            </div>
            <div class="release-col">
                <span class="text-secondary">Released Date:</span>
                <span id="drawerReleasedDate"></span>
            </div>
        </div>

        <hr class="divider">

        <div class="memos-list-header">
            <div></div>
            <div>Date</div>
        </div>

        <ul id="relatedMemos" class="memos-list">
            </ul>
    </div>
</div>
    </div>
    {% else %}
    <p>No memos found.</p>
    {% endif %}
</div>
<br><br>


<!-- ADD MEMO MODAL -->
 
<div id="addMemoModal" class="modal">
  <div class="modal-content">

    <h2>Add Memo</h2>

    <form id="memo_form">

      <div class="form-group">
        <label>Source Type</label>
        <input type="hidden" name="source_type" id="hiddenSourceType">
        <select id="source_type_outside" onchange="updateFormFields()">
            <option value="CM">communication</option>
            <option value="OP">OP</option>
        </select>
      </div>
      <div class="form-group">
        <label>Date</label>
        <input type="date" name="date" id="memoDate"> 
      </div>

      <div class="form-row">
        <div class="form-group">
        <label>From</label>
            <div class="autocomplete">
                <input name="from_office" id="memoFrom" autocomplete="off">
                <div class="dropdown" id="fromDropdown"></div>
            </div>
        </div>

        <div class="form-group">
        <label>Forwarded By</label>
        <div class="autocomplete">
            <input name="forwarded_by" id="memoForwarded" autocomplete="off">
            <div class="dropdown" id="forwardedDropdown"></div>
        </div>
        </div>
      </div>

      <div class="form-group" id="memoNumberGroup" style="display: none;">
        <label>Memo #</label>
        <input name="memo_number" id="memoNumber">
      </div>

      <div class="form-group">
        <label>Subject</label>
        <input name="subject" id="memoSubject">
      </div>

        <div class="form-group" id="remarksGroup">
        <label>Remarks</label>
        <div class="autocomplete">
            <textarea name="remarks" id="memoRemarks"></textarea>
            <div class="dropdown" id="remarksDropdown"></div>
        </div>
        </div>

        <div class="form-group" id="notesGroup">
        <label>Notes</label>
        <textarea name="notes" id="memoNotes"></textarea>
        </div>

        <div class="form-row" id="releaseSection">
        <div class="form-group">
            <label>Released To</label>
            <div class="autocomplete">
                <input name="released_to" id="memoReleaseTo" autocomplete="off">
                <div class="dropdown" id="releaseToDropdown"></div>
            </div>
        </div>

        <div class="form-group">
            <label>Released Date</label>
            <input type="date" name="released_date" id="memoReleaseDate">
        </div>
        </div>

      <div class="modal-buttons">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeModals()">Cancel</button>
      </div>

    </form>

  </div>
</div>

<!-- EDIT MEMO MODAL -->
<div id="editMemoModal" class="modal">
  <form method="POST" id="editMemoForm" class="modal-content">

    <h2 id="editMemoTitle">Edit Memo</h2>
    <!-- From + Forwarded -->
    <div class="form-row">
      <div class="form-group">
        <label>From</label>
        <div class="autocomplete">
        <input name="from_office" id="editMemoFrom" autocomplete="off">
        <div class="dropdown" id="editFromDropdown"></div>
        </div>
      </div>

      <div class="form-group">
        <label>Forwarded By</label>
        <div class="autocomplete">
          <input name="forwarded_by" id="editMemoForwarded" autocomplete="off">
          <div class="dropdown" id="editForwardedDropdown"></div>
        </div>
      </div>
    </div>

    <!-- Date -->
    <div class="form-group">
      <label>Date</label>
      <input type="date" name="date" id="editMemoDate">
    </div>

    <!-- Subject -->
    <div class="form-group">
      <label>Subject</label>
      <input name="subject" id="editMemoSubject">
    </div>

    <!-- Remarks -->
     <div class="form-row">

    <div class="form-group" id="editRemarksRow">
        <label>Remarks</label>
        <div class="autocomplete">
            <textarea name="remarks" id="editMemoRemarks"></textarea>
            <div class="dropdown" id="editRemarksDropdown"></div>
        </div>
    </div>

    <div class="form-group" id="editMemoNumberRow">
        <label>Memo #</label>
        <input name="memo_number" id="editMemoNumber">
    </div>

    <!-- Notes -->
    <div class="form-group">
      <label>Notes</label>
      <textarea name="notes" id="editMemoNotes"></textarea>
    </div>

    </div>
    <!-- Release Section -->
    <div class="form-row" id="editReleaseRow">
        <div class="form-group">
        <label>Released To</label>
        <div class="autocomplete">
            <input name="released_to" id="editMemoReleaseTo" autocomplete="off">
            <div class="dropdown" id="editReleaseToDropdown"></div>
        </div>
        </div>
      <div class="form-group">
        <label>Released Date</label>
        <input type="date" name="released_date" id="editMemoReleaseDate">
      </div>
    </div>

    <div class="moda-bluttons">
      <button type="submit" class="btn">Save Changes</button>
      <button type="button" class="btn cancel" onclick="closeModals()">Cancel</button>
    </div>

  </form>
</div>

<!-- DELETE CONFIRM MODAL -->
<div id="deleteConfirmModal" class="modal">
  <div class="modal-content" style="width:400px; padding:25px; text-align:center;">
    <iconify-icon icon="mdi:alert-circle" style="font-size:48px; color:#f44336; margin-bottom:15px;"></iconify-icon>
    <h2>Confirm Delete</h2>
    <p>Are you sure you want to delete this memo permanently?</p>
    <p style="font-weight:500; color:#B22222;">This action cannot be undone.</p>
    <div class="modal-buttons" style="gap:15px;">
      <button class="btn cancel" onclick="closeDeleteConfirm()" style="background:#6c757d;">Cancel</button>
      <button class="btn" onclick="confirmDelete()" style="background:#f44336;">Delete Memo</button>
    </div>
  </div>
</div>
<div id="successModal" class="success-modal">
    <div class="success-content">
        <p id="successMessage">Success!</p>
        <button onclick="closeSuccessModal()">OK</button>
    </div>
</div>

<div id="errorModal" class="success-modal">
    <div class="success-content">
        <p id="errorMessage">Error</p>
        <button onclick="closeErrorModal()">OK</button>
    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}