<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel="stylesheet" href="style.css">
</head>

<body>

<div class="login-container">

    <div class="login-card">

        <img src="images/logo.png" class="logo">

        <form>

            <input type="text" placeholder="Username" required>

            <input type="password" placeholder="Password" required>

            <button type="submit">Login</button>

            <p class="guest">Log in as Guest</p>

        </form>

    </div>

</div>

</body>
</html>